body {
    margin: 0;
    padding: 0%;
}

h1 {
    margin-top: auto;
}

.header {
    background-color: #333;
    padding: 3rem;
    color: white;
    text-align: center;
    font-family:monospace;
    font-size: 55px;
    margin-top:auto
}

.contacts {
    font-size: 25px;
    text-align: center;
    margin-top: 10px
}

.categories {
    text-align: center;
    font-family: monospace;
    font-size: 35px;
}

.content {
    text-align: center;
    font-family: monospace;
}
