body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    height: 75px;
    background-color: #333;
    color: white;
    font-family:monospace
}

.qualifications {
    position: relative;
    left: 20px;
}

.qualifications:hover {
    background: #D3D3D3;
}

.qualifications:active {
background: #C0C0C0;
}

.qualifications {
display: inline-flex;
height: 50px;
padding: 5;
background:	#DCDCDC
border-box;
border: none;
border-radius: 5px;
overflow: hidden;
font-family: monospace;
font-size: 16px;
font-weight: 500;
cursor: pointer;
}


